/* CSS Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Body */
body{
    padding: 10px;
    scroll-behavior: smooth;
    font-family: monospace;
}

/* Main Title */
.maintitle{
    margin-top: 20px;
    text-align: center;
}

.secondtitle{
    text-align: center;
}

.subtitle{
    margin: 10px 0px;
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.menu > a:hover{
    text-decoration: none;
    background-color: aquamarine;
}
.menu-triangle{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
    margin-bottom: 10px;
}

.menu-paralellogram{
    margin-top: 10px;
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

/*Main Content*/
main{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.card{
    border: 1px blue solid;
    padding: 20px;
    box-shadow: 0px 14px 5px -7px rgba(0,0,0,0.3);
}

.label{
    text-align: center;
}

/*Main Content: Segitiga */
.form-triangle{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: initial;
    gap: 10px;
}
.form-triangle > input{
    padding: 8px 4px;
    border-radius: 6px;
    width: 50%;
    justify-content: start;
    justify-items: start;
    align-content: center;
}

.button-triangle{
    padding: 10px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    width: 50%;
}

.button-triangle:hover{
    background-color: aquamarine;
    cursor: pointer;
}

/*Main Content: Jajargenjang*/
.menu-parallelogram{
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 10px 0px;
    width: 100%;
    text-align: center;
    border-radius: 4px;
}

.form-parallelogram{
    display: flex;
    flex-direction: column;
    justify-content: start;
    justify-items: start;
    align-items: initial;
    gap: 10px;
}
.form-parallelogram > input{
    padding: 8px 4px;
    border-radius: 6px;
    width: 50%;
    justify-content: start;
    justify-items: start;
    align-content: center;
}

.button-parallelogram{
    padding: 10px 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 6px;
    width: 50%;
}

.button-parallelogram:hover{
    background-color: aquamarine;
    cursor: pointer;
}

/* Style Responsive */
/* Phone */
@media only screen and (max-width: 600px) {}

/* Tablet (Potrait) */
@media only screen and (min-width: 600px) {}

/* Tablet (Landscape) */
@media only screen and (min-width: 768px) {
    .responsive-img {
        max-width: 50%;
    }
}

/* Desktop */
@media only screen and (min-width: 992px) {}

/* Huge */
@media only screen and (min-width: 1280px) {} 

.responsive-img {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    display: block;
  }
